{% extends "base.html" %}
{% block title %}Confirmar Presença{% endblock %}
{% block content %}
<h1>Confirmar Presença</h1>
<p class="muted">
    Digite sua matrícula (ex.: <span class="mono">{{ 'MR' ~ ('%05d'|format(25684)) }}</span>) para registrar sua presença no treinamento de hoje.
</p>

<form class="row" action="/presenca/confirmar" method="get">
  <input 
        name="matricula" 
        placeholder="Digite sua matrícula (MR25684)" 
        value="{{ request.args.get('pref','') }}"
        autocomplete="off"
    />
  <button>Confirmar</button>
</form>

<p class="mt muted">
    <small>
        Dica: se você recebeu um QR Code, ele já contém a sua matrícula.
        <br>
        Você também pode acessar diretamente por link: 
        <span class="mono">/presenca/confirmar?matricula=...</span>
    </small>
</p>
{% endblock %}